################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/roadmap.sh
/.vs
/TodoList/.vs/TodoList
/TodoList/Tests/TodoList.Application.Tests/obj
/TodoList/Tests/TodoList.Infrastructure.Tests/obj
/TodoList/Tests/TodoList.WebApi.Tests/obj
/TodoList/TodoList.Application/obj
/TodoList/TodoList.Domain/obj
/TodoList/TodoList.Infrastructure/obj
/TodoList/TodoList.WebApi/obj
/TodoApp/.vs
obj
/TodoApp/TodoApp.WebApi/bin/Debug/net8.0
/TodoApp/TodoApp.Infrastructure/bin/Debug/net8.0
/TodoApp/TodoApp.Domain/bin/Debug/net8.0
/TodoApp/TodoApp.Application/bin/Debug/net8.0
/TodoApp/Tests/TodoApp.WebApi.Tests/bin/Debug/net8.0
/TodoApp/Tests/TodoApp.Infrastructure.Tests/bin/Debug/net8.0
/TodoApp/Tests/TodoApp.Application.Tests/bin/Debug/net8.0
